---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("posts", slug);

if (!post) throw new Error("No post found for this slug");
const { Content } = await render(post);

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.id } }));
}
---

<Layout title={post.data.title}>
  <article class="max-w-212.5 mx-auto px-8 py-12 text-black">
    <header class="mb-12 text-center">
      <h1 class="text-5xl font-serif font-bold leading-tight mb-4">
        {post.data.title}
      </h1>

      <p class="text-lg text-neutral-600">
        {post.data.description}
      </p>
    </header>

    <hr class="mb-10 border-neutral-300" />

    <div
      class="prose
        prose-neutral
        max-w-none
        prose-headings:font-serif
        prose-headings:font-bold
        prose-p:text-justify
        prose-p:leading-8
        prose-li:leading-8
        prose-h1:text-4xl
        prose-h2:text-3xl
        prose-h3:text-2xl
        prose-table:w-full
        text-black"
    >
      <Content />
    </div>
  </article>
</Layout>
