---
import Layout from "../layouts/Layout.astro";
import TheHero from "../components/TheHero.astro";
---

<Layout>
  <TheHero
    title="Galeria de Fotos"
    subtitle="Momentos e atividades do laboratório"
  />

  <div class="flex flex-col items-center justify-center py-10">
    
    <h1 class="text-xl font-light text-center mb-4 text-gray-500">Nenhuma foto cadastrada ainda</h1>
  </div>
  
</Layout>
