---
import Layout from "../layouts/Layout.astro";
import TheHero from "../components/TheHero.astro";
---

<Layout>
  <TheHero
    title="Publicações Científicas"
    subtitle="Trabalhos publicados pelos pesquisadores do LIARA"
  />

  <div class="flex flex-col items-center justify-center py-10">
    <h1 class="text-xl font-light text-center mb-4 text-gray-500">
      Nenhuma publicação cadastrada ainda
    </h1>
  </div>
</Layout>
