<footer class="bg-dark-navy shadow-lg py-6 md:py-8 px-4">
  <p class="text-center text-sm md:text-base text-white max-w-4xl mx-auto">
    © 2025 LIARA - Laboratório de Inteligência Artificial, Robótica e Automação
  </p>
</footer>
