---
const { title, subtitle } = Astro.props;
---

<section
  class="bg-linear-to-r from-dark-navy via-primary-blue to-secondary-blue  flex flex-col h-[35vh] items-center justify-center text-white"
>
  <h1 class="text-[2.5rem] font-bold text-center max-w-5xl">{title}</h1>
  <p class="text-[1.25rem] mt-2">{subtitle}</p>
</section>
